extends layout

block content
    form(id='form', method='post', action='/signupCompleted', onsubmit="return mySubmit()")
        br
        div(id="error_message")
        br
        label(for='username') Username:
        input(id='username',type='text', name='username')
        br
        label(for='password') Password:
        input(id='password',type='text', name='password')
        br
        label(for='email') Email:
        input(id='email',type='text', name='email')
        br
        label(for='age') Age:
        input(id='age',type='text', name='age')
        br
        
        br
        div(id='wyrQuestion1' class='question') Would you rather have 3 hands or 3 feet?
        div(id='option1' class='btn' name='wyrQuestion1') 3 Hands
        div(id='option2' class='btn' name='wyrQuestion1') 3 Feet
        canvas(id="barGraphOne" class="barGraph")
        br
        div(id='wyrQuestion2' class='question') Would you rather lose your sense of taste or sense of smell?
        div(id='option3' class='btn' name='wyrQuestion2') Taste
        div(id='option4' class='btn' name='wyrQuestion2') Smell
        canvas(id="barGraphTwo" class="barGraph")
        br
        div(id='wyrQuestion3' class='question') Would you rather burn or freeze?
        div(id='option5' class='btn' name='wyrQuestion3') Burn
        div(id='option6' class='btn' name='wyrQuestion3') Freeze
        canvas(id="barGraphThree" class="barGraph")
        br

        label(for='eyes') Eyes #1-10: 
        input(id='eyes', type='text', name='eyes')
        br
        label(for='nose') Nose #1-10: 
        input(id='nose', type='text', name='nose')
        br
        label(for='mouth') Mouth #1-10: 
        input(id='mouth', type='text', name='mouth')
        br
        label(for='color') Color in Hex Format (000-FFF): 
        input(id='color', type='text', name='color')
        br
        input(id='submitted',type='submit', value='Create Username Login')

    script(src='/credCheck.js')
    script(src="/codyTest.js")