extends layout

block content
    form(id='form', method='post', action='/signupCompleted')
        label(for='username') Username:
        input(type='text', name='username')
        br
        label(for='password') Password:
        input(type='text', name='password')
        br
        label(for='email') Email:
        input(type='text', name='email')
        br
        label(for='age') Age:
        input(type='text', name='age')
        br
        label(for='firstQuestion') Question 1 - What is your favorite video game?
        input(type='text', name='firstQuestion')
        br
        label(for='secondQuestion') Question 2 - What was the name of your first pet?
        input(type='text', name='secondQuestion')
        br
        label(for='thirdQuestion') Question 3 - What is your mother's maiden name?
        input(type='text', name='thirdQuestion')
        br
        input(type='submit', value='Create Username Login')
