extends layout

block content
    form(id='form', method='post', action='/signupCompleted', onsubmit="return mySubmit()")
        br
        div(id="error_message")
        br
        label(for='username') Username:
        input(id='username',type='text', name='username')
        br
        label(for='password') Password:
        input(id='password',type='text', name='password')
        br
        label(for='email') Email:
        input(id='email',type='text', name='email')
        br
        label(for='age') Age:
        input(id='age',type='text', name='age')
        br
        
        br
        label(for='wyrQuestion1') Would you rather have 3 hands or 3 feet?
        br
        input(id='wyrQuestion1', type='radio', name='wyrQuestion1', value="3 Hands")
        label Three Hands
        br
        input(id='wyrQuestion1', type='radio', name='wyrQuestion1', value="3 Feet")
        label Three Feet
        br
        
        br
        label(for='wyrQuestion2') Would you rather lose your sense of taste or sense of smell?
        br
        input(id='wyrQuestion2', type='radio', name='wyrQuestion2', value="Taste")
        label Taste
        br        
        input(id='wyrQuestion2', type='radio', name='wyrQuestion2', value="Smell")
        label Smell
        br
        
        br
        label(for='wyrQuestion3') Would you rather burn or freeze?
        br
        input(id='wyrQuestion3', type='radio', name='wyrQuestion3', value="Burn")
        label Burn
        br        
        input(id='wyrQuestion3', type='radio', name='wyrQuestion3', value="Freeze")
        label Freeze
        br
        
        br
        br
        label(for='eyes') Eyes #1-10: 
        input(id='eyes', type='text', name='eyes')
        br
        label(for='nose') Nose #1-10: 
        input(id='nose', type='text', name='nose')
        br
        label(for='mouth') Mouth #1-10: 
        input(id='mouth', type='text', name='mouth')
        br
        label(for='color') Color in Hex Format (000-FFF): 
        input(id='color', type='text', name='color')
        br
        input(id='submitted', type='submit', value='Create Username Login')

    script(src='credCheck.js')