extends layout

block content
    form(id='form', method='post', action='/signupCompleted', onsubmit="return mySubmit()")
        br
        div(id="error_message")
        br
        label(for='username') Username:
        input(id='username',type='text', name='username')
        br
        label(for='password') Password:
        input(id='password',type='text', name='password')
        br
        label(for='email') Email:
        input(id='email',type='text', name='email')
        br
        label(for='age') Age:
        input(id='age',type='text', name='age')
        br
        label(for='firstQuestion') Question 1 - What is your favorite video game?
        input(id='firstQuestion',type='text', name='firstQuestion')
        br
        label(for='secondQuestion') Question 2 - What was the name of your first pet?
        input(id='secondQuestion',type='text', name='secondQuestion')
        br
        label(for='thirdQuestion') Question 3 - What is your mother's maiden name?
        input(id='thirdQuestion',type='text', name='thirdQuestion')
        br
        label(for='eyes') Eyes #1-10: 
        input(id='eyes', type='text', name='eyes')
        br
        label(for='nose') Nose #1-10: 
        input(id='nose', type='text', name='nose')
        br
        label(for='mouth') Mouth #1-10: 
        input(id='mouth', type='text', name='mouth')
        br
        label(for='color') Color in Hex Format (000-FFF): 
        input(id='color', type='text', name='color')
        br
        input(id='submitted',type='submit', value='Create Username Login')

    script(src='/credCheck.js')