extends layout

block content
    p YOU ARE LOGGED IN!
    br
    p Your Avatar
    img(id='image' src=`https://api.adorable.io/avatars/face/${item.eyes}/${item.nose}/${item.mouth}/${item.color}`)
    p Make changes to your account info
    br
    a(href="/edit/" + item["_id"]) Edit Account
    br
    a(href='/logout') Logout
    br
    canvas(id="barGraphOne", class="barGraph")  
    br
    canvas(id="barGraphTwo", class="barGraph")
    br
    canvas(id="barGraphThree", class="barGraph")
    br
    script(src="anibalsCanvas.js")
    
