
table.gridtable {
  border-width: 1px;
}

table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
}

table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
}